<h4>Formularios <small> templates </small></h4>
<hr>
<form autocomplete="off" (ngSubmit)="guardar( forma )" #forma="ngForm">

    <div>

        <div class="form-group row">
            <label class="col-2 col-form-label">Nombre</label>
            <div class="col-8">
                <input class="form-control" name="nombre" [class.is-invalid]="(nombre.invalid && nombre.touched) || (nombre.invalid && forma.submitted) " type="text" [ngModel]="usuario.nombre" required ngModel placeholder="Nombre" minlength="3" #nombre="ngModel">
                <small *ngIf="nombre.invalid && nombre.touched" class="form-text text-danger">Ingrese al menos 3 caracteres.</small>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-2 col-form-label">Apellido</label>
            <div class="col-8">
                <input class="form-control" type="text" [class.is-invalid]="apellido.invalid && apellido.touched" name="apellido" ngModel placeholder="Apellido" [ngModel]="usuario.apellido" #apellido="ngModel" required minlength="2">
                <small *ngIf="apellido.invalid && apellido.touched" class="form-text text-danger">Ingrese al menos 2 caracteres.</small>
            </div>
        </div>

    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">Correo</label>
        <div class="col-8">

            <input class="form-control" [class.is-invalid]="correo.invalid && correo.touched" type="email" name="correo" placeholder="Correo electrónico" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" [ngModel]="usuario.correo" ngModel #correo="ngModel"
                minlength="5">
            <small *ngIf="correo.invalid && correo.touched" class="form-text text-danger">Ingrese un correo válido.</small>
        </div>
    </div>


    <div class="form-group row">
        <label for="" class="col-2 col-form-label">País</label>
        <div class="col-8">
            <select name="" id="" class="form-control">
                <option></option>
            </select>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">&nbsp;</label>
        <div class="input-group col-md-8">
            <button type="submit" class="btn btn-outline-primary btn-block">
        Guardar
      </button>
        </div>
    </div>

</form>